* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Figtree", serif; 
}

body {
    min-height: 100vh;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column; 
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid hsl(0, 0%, 7%);
    padding: 20px;
    box-shadow: 4px 4px 0px 4px black;
}

.card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px; 
}

.sub-titulo {
  align-self: flex-start;
  background-color: hsl(47, 88%, 63%);
  padding: 0.4rem 1.2rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: hsl(0, 0%, 7%);
  font-weight: 800;
  line-height: 150%;
  border-radius: 0.4rem;
}

.card-data {
    font-weight: 500;
    font-size: 11px;
    padding: 10px 0;
}

.titulo {
    font-weight: 800;
    font-size: 20px;
    padding: 0 0 10px 0;
}

.texto {
    color: hsl(0, 0%, 42%);
    font-weight: 500;
    font-size: 15px;
    padding: 0 0 10px 0;
}

.user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px; 
    width: 100%; 
}

.user-img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.user-nome {
    font-weight: bold;
    font-size: 16px; 
}

.attribution {
    position: fixed; 
    bottom: 0; 
    left: 0;
    width: 100%;
    font-size: 14px; 
    text-align: center; 
    color: hsl(0, 0%, 7%); 
    padding: 10px; 
}

.attribution a {
    color: hsl(0, 0%, 42%);
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .card {
        width: 90%;
        padding: 15px;
    }

    .card-img {
        margin-bottom: 8px; 
    }

    .titulo {
        font-size: 18px; 
    }

    .texto {
        font-size: 14px; 
    }

    .sub-titulo {
        width: 80px; 
        font-size: 18px; 
    }

    .user-img {
        width: 25px;
        height: 25px;
    }

    .user-nome {
        font-size: 14px; 
    }
}
